/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+New&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* Apply the following styles to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Use the 'Vazirmatn' font for all text */
  font-family: 'Vazirmatn', sans-serif;
}

/* Set the background color and font size for the body element */
body {
  background-color: #f2f2f2;
  font-size: 16px;
}

/* Style the header element */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Style for the main heading in the header */
header h1 {
  font-size: 1.6rem;
  margin: .9rem;
  font-weight: 400;
}

/* Style for the secondary heading in the header */
header h2 {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #666;
}

/* Style the navigation list */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.96rem;
}

/* Style the navigation list items */
nav li {
  display: inline-block;
  margin: 0 0.5rem;
}

/* Style the navigation links */
nav a {
  color: #fff; 
}

/* Style the navigation links on hover */
nav a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}


/* Style the dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-bottom: none;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* Style headings */
h1 {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}


h3 {
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

h5 {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
}


/* Breadcrumb Styles */
.breadcrumb {
  width: 100%;
  font-size: 0.8rem;
  margin: 0 1rem 1rem 0;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Style the main content area */
main {
  flex: 0 0 calc(100% - 200px - 2rem);
  max-width: calc(100% - 200px - 2rem);
  margin-left: 2rem;
}

.sidebar {
  width: 200px;
}


/* Style the sidebar card titles */
.sidebar-card-title {
  border-bottom: 1px dashed #c1c2c3;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: -6px;
  font-size: 0.85rem;
  color: #666;
}

.sidebar .card a {
  font-size: 0.82rem;
}


/* Card */
.card {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}



/* Style the article paragraphs */
p, article p {
  font-size: 0.9rem;
  line-height: 1.8;
  color: #555;
  margin: 1rem 0;
}

/* Style the article image */
article img {
  width: 100%;
  max-width: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

article img:hover {
  filter: grayscale(0);
}

/* Style the audio and video elements */
article audio,
article video {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

/* Style the pre block */
pre {
  direction: ltr;
  padding: 0 !important;
  background-color: #f7f7f7 !important;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: .5rem !important;
  white-space: pre-wrap !important;
}

/* Style the code snippet inside the pre block */
pre code {
  font-family: 'Courier New', monospace !important;
  /* font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important; */
}


.comments-section {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

/* Style the article info */
.article-info, .comment-info {
  font-size: 0.75rem;
  color: #888;
  margin-top: 0.7rem;
}

/* Style the footer element */
footer {
  background-color: #f2f2f2;
  color: #5c5c5c;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
}

/* Style the footer paragraphs */
footer p {
  margin: 0.5rem 0;
}

footer a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

/* Style the last footer paragraph */
footer p:last-of-type {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}




.card {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




/* Common styles for all social media boxes */
.social-box {
  width: 100%;
  height: 48px;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.social-box:hover {
  filter: grayscale(0);
  color: #fff;
}

/* Styles for each social media box */
.twitter {
  background-color: #1da1f2;
}

.telegram {
  background-color: #0088cc;
}

.youtube {
  background-color: #ff0000;
}

.instagram {
  background-color: #e4405f;
  margin-bottom: 2rem;
}

/* Additional styles for the Contact page form */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-top: 1rem;
}

input,
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}



/* Style the about text and photo */
.about-text {
  min-height: 220px;
}

.about-photo {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  float: left;
  margin: 0.5rem;
}



/* Style the donation section buttons */
.donation-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.donation-button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  flex: 0 0 calc(49% - 10px);
  text-align: center;
}

/* Style the donation buttons on hover */
.donation-button:hover {
  background-color: #444;
  color: #fff;
}

/* Style the specific donation buttons */
.paypal {
  background-color: #009cde;
}

.bitcoin {
  background-color: #f7931a;
}

.ethereum {
  background-color: #48cbd9;
}

.dogecoin {
  background-color: #ba9f33;
}



/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

}

.photo {
  position: relative;
  overflow: hidden;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.photo:hover {
  filter: grayscale(0);
}

.photo img {
  width: 100%;
  vertical-align: middle;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.caption h3, .caption p {
  margin: 0;
  padding: 0;
}

.caption h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.caption p {
  font-size: 0.7rem;
  color: #fff;
}



/* Style the tags list */
.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.sidebar .tags-list {
  text-align: center;
}

/* Style each tag */
.tags-list li {
  display: inline-block;
  margin: 0.5rem 0.1rem;
}

/* Style the link inside the tag */
.tags-list li a {
  background-color: #f1f3f4;
  color: #555;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  text-decoration: none;
}

/* Style the link on hover */
.tags-list li a:hover {
  background-color: #eaeaea;
}








/* Article Tags and Share Buttons */
.article-tags,
.share-buttons {
  margin-top: 2rem;
}

.article-tags h3,
.share-buttons h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.article-tags .tags-list,
.share-buttons .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.article-tags .tags-list li,
.share-buttons .social-list li {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.article-tags .tags-list li a,
.share-buttons .social-list li a {
  background-color: #f1f3f4;
  color: #555;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  text-decoration: none;
}


/* simple related articles */
.related-articles-list{
  margin: 1rem;
}

/* Style for related articles section */
.related-articles {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.related-article {
  margin-bottom: 1.2rem;
}

.related-article p {
  margin: 0;
}



/* Share Buttons */
.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list li {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.social-list li a {
  background-color: #f1f3f4;
  color: #555;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
}

.social-list li a:hover {
  background-color: #eaeaea;
}


/* error pages */
.error {
  text-align: center;
  margin-top: 200px;
  margin-left: 0;
  max-width: 100%;
}

.error h1 {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}

.error p {
  font-size: 1rem;
  margin: 0.8rem 0;
}



/* faq */
.faq-item {
  margin-bottom: 20px;
}

.question {
  cursor: pointer;
}

.answer {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.answer p {
  margin: 0;
}

.question.active {
  font-weight: bold;
}

.question.active + .answer {
  display: block;
}


/* Podcast episode buttons */
.podcast-buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

/* Styling for podcast and subscribe buttons */
.podcast-buttons a {
  background-color: #333;
  color: #fff;
  padding: 0.4rem 0.7rem;
  font-size: 0.8rem;
  border-radius: 4px;
  margin: 0.3rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.podcast-buttons a:hover {
  background-color: #555;
}

/* Styling for each service's brand color on hover */
.podcast-buttons .castbox:hover {
  background-color: #FF6F00; /* Castbox brand color */
}

.podcast-buttons .google-podcast:hover {
  background-color: #4285f4; /* Google Podcasts brand color */
}

.podcast-buttons .apple-podcast:hover {
  background-color: #9933CC; /* Apple Podcasts brand color */
}

.podcast-buttons .spotify:hover {
  background-color: #1db954; /* Spotify brand color */
}

.podcast-buttons i {
  font-size: 1rem;
  
}


/* Pagination styles */
.pagination {
  margin: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

.page-link {
  display: inline-block;
  margin: 0 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: #f1f3f4;
  color: #555;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #eaeaea;
}

.page-link.active {
  background-color: #333;
  color: #fff;
}


/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 992px) {


  .container{
    padding: 0.7rem;
  }

  main {
    flex: 0 0 calc(100% - 200px - 0.7rem);
    max-width: calc(100% - 200px - 0.7rem);
    margin-left: 0.7rem;
  }
  
  .card {
    margin-bottom: 0.7rem;
  }

  form {
    max-width: 100%;
  }
}

/* Mobile and Tablet */
@media (max-width: 768px) {
  .container{
    padding: 0.7rem;
  }

  main {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .sidebar {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    margin-bottom: 0.7rem;
  }

  form {
    max-width: 100%;
  }
  
  .donation-button, .social-box {
    font-size: 0.8rem;
  }

  .social-box {
    font-size: 0.9rem;
  }

  .podcast-buttons a {
    margin: 0.2rem;
  }

  .gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

}


/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+markup-templating+php+python */
code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
