// Pagination row
div.pagination
    a.page-link(href='#') قبلی
    a.page-link.active(href='#') 1
    a.page-link(href='#') 2
    | ...
    a.page-link(href='#') 23
    a.page-link(href='#') 24
    a.page-link(href='#') بعدی