extends layout/_layout_error

block variables
    - var title = "خطای ۴۰۴ - صفحه پیدا نشد"
    - var subTitle = "متأسفیم، صفحه‌ای که دنبال آن هستید پیدا نشد."

block content

    // 404 Error Page Content
    svg(width="200", height="200", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
        circle(cx="12", cy="12", r="10", fill="#333333")
        circle(cx="12", cy="12", r="6", fill="#FFFFFF")
        circle(cx="12", cy="12", r="2", fill="#333333")

