extends layout/_layout

block variables
    - var pageTitle = "سوال‌های متداول"

block content

    section.card
        h1 سوال‌های متداول درباره خدمات شرکت برنامه‌نویسی

        .faq-item
            h4.question چه خدماتی توسط این شرکت برنامه‌نویسی ارائه می‌شود؟
            .answer
                p
                    | شرکت ما در زمینه توسعه نرم‌افزار، طراحی وب، تست کیفیت و مشاوره فنی فعالیت می‌کند. ما انواع نرم‌افزارهای تجاری و سفارشی را بر اساس نیازهای شما توسعه می‌دهیم.

        .faq-item
            h4.question آیا می‌توانید به طراحی و توسعه وبسایت‌های پویا پرداخت؟
            .answer
                p
                    | بله، ما تجربه طراحی و توسعه وبسایت‌های پویا را داریم. ما از تکنولوژی‌های مدرن مانند React و Vue.js برای ساخت وبسایت‌های پویا استفاده می‌کنیم.

        .faq-item
            h4.question آیا خدمات شما شامل تست و اعتبارسنجی نرم‌افزارها نیز می‌شود؟
            .answer
                p
                    | بله، تست کیفیت و اعتبارسنجی نرم‌افزارها نیز جزو خدمات ما می‌باشد. ما از روش‌ها و ابزارهای مدرن برای اطمینان از کارکرد صحیح نرم‌افزارها استفاده می‌کنیم.

        .faq-item
            h4.question آیا مشاوره فنی در زمینه تکنولوژی‌های جدید نیز ارائه می‌شود؟
            .answer
                p
                    | بله، ما به عنوان متخصصان در حوزه فناوری اطلاعات، مشاوره فنی در زمینه تکنولوژی‌های جدید و روندهای بازار را ارائه می‌دهیم تا بهترین تصمیمات را برای پروژه‌های شما بگیرید.

        .faq-item
            h4.question آیا قادر به ارائه نرم‌افزارهای مخصوص صنایع خاص هستید؟
            .answer
                p
                    | بله، ما توانایی توسعه نرم‌افزارهای مخصوص به صنایع خاص را داریم. بسته به نیازها و مشخصات فنی، نرم‌افزارهایی را برای صنایع مانند بهداشت، مالی، و تولید توسعه می‌دهیم.

        .faq-item
            h4.question آیا پشتیبانی و تعمیرات نیز از خدمات شما است؟
            .answer
                p
                    | بله، پس از تحویل پروژه، ما پشتیبانی و تعمیرات لازم را ارائه می‌دهیم تا مطمئن شوید که نرم‌افزارها به درستی کار می‌کنند و در صورت نیاز به به‌روزرسانی‌ها و تغییرات، آماده‌ایم.

        // Add more FAQ items as needed

    script.
        document.addEventListener("DOMContentLoaded", function() {
            const questions = document.querySelectorAll(".question");
            questions.forEach(question => {
            question.addEventListener("click", function() {
                this.classList.toggle("active");
            });
            });
        })