extends layout/_layout

block variables
    - var pageTitle = "صفحه متنی"

block content
    section.card
        h2 قوانین و مقررات
        .about-text
            p
                | این یک وبلاگ است که به مقالات و مطالب مرتبط با برنامه‌نویسی و تکنولوژی می‌پردازد. ما سعی داریم
                | اطلاعات مفید و کاربردی را در اختیار کاربران علاقه‌مند به این حوزه قرار دهیم. امیدواریم که
                | از مطالب ما لذت ببرید و مفید بدانید. این وبلاگ با هدف ارتقاء دانش و آموزش جامعه برنامه‌نویسی و
                | مهندسان نرم‌افزار تأسیس شده است. در اینجا سعی می‌کنیم به صورت مرتب و منظم، مطالبی را منتشر
                | کنیم که به کاربران علاقه‌مند در این زمینه‌ها کمک کند و آن‌ها را با تازه‌ترین دانش‌ها و
                | تکنولوژی‌ها آشنا سازد. هدف ما ایجاد یک محتوای آموزشی، جذاب و مفید است که بتواند در حل مشکلات و
                | چالش‌های برنامه‌نویسی و تکنولوژی کاربران مؤثر باشد.
            p
                | برنامه‌نویسی یکی از حوزه‌های پرکاربرد و مهم دنیای فناوری اطلاعات است که انواع زبان‌ها و
                | تکنولوژی‌های مختلفی دارد. با پیشرفت تکنولوژی‌ها و نیازهای روزافزون بازار کار، به‌روز بودن با
                | آخرین تحولات برنامه‌نویسی ضروری است. این وبلاگ در جهت ارتقاء دانش کاربران و آشنایی آن‌ها با
                | تکنولوژی‌ها و الگوهای طراحی مختلف تأسیس شده است.

            p.article-info بروزرسانی: ۱۸ بهمن ۱۴۰۰ | ساعت ۴:۱۰ ب.ظ
